AddTagScreen {
    align: center middle;
}

AddTagScreen #dialog {
    border-title-align:center;
    padding: 0;
    width: 60;
    height: auto;
    max-height: 80%;
    border: round white;
    background: $surface;
}

AddTagScreen #actions {
    width: 100%;
    height: auto;
}

AddTagScreen #actions Button {
    width: 1fr;
    padding: 0;
}

AddTagScreen #fields {
    padding: 1;
    height: auto;
}

AddTagScreen #name {
    width: 100%;
}

AddTagScreen #question {
    align: center middle;
    padding: 0;
    margin: 0;
}
