AddTagScreen {
    align: center middle;
}

AddTagScreen #dialog {
    padding: 0;
    width: 60;
    height: 16;
    border: round white;
    background: $surface;
}

AddTagScreen #actions {
    width: 100%;
}

AddTagScreen #actions Button {
    width: 1fr;
}

AddTagScreen #fields {
    padding: 1 1 0 1;
}

AddTagScreen #name {
    width: 100%;
}

AddTagScreen #question {
    padding: 0 0 0 1;
}
