EditTagsScreen {
    align: center middle;
}

EditTagsScreen #dialog {
    border-title-align:center;
    padding: 0;
    width: 70;
    height: auto;
    min-height: 20;
    max-height: 80%;
    border: round white;
    background: $surface;
}

EditTagsScreen #question {
    padding: 1 1 0 1;
}

EditTagsScreen #edit_tags_filter_row {
    height: auto;
    width: 100%;
    padding: 0 1 0 1;
    margin-bottom: 1;
}

EditTagsScreen #edit_tags_filter {
    height: 1;
    width: 100%;
    padding: 0 1;
    background: #444;
    color: white;
    border: none;
    content-align: left middle;
}

EditTagsScreen #edit_tags_list {
    height: 1fr;
    width: 100%;
    overflow-y: auto;
    background: #111;
    margin-bottom: 1;
}

.edit-tag-option {
    height: 1;
    padding: 0;
    content-align: left middle;
    color: white;
    background: #222;
    width: 100%;
    border: none;
}

EditTagsScreen #edit_tags_actions {
    width: 100%;
    height: auto;
}

EditTagsScreen #edit_tags_actions Button {
    width: 1fr;
    padding: 0;
}
